<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
</div>

<div *ngIf="webAuthAvailable">
  <label for="Username">Username</label>
  <input name="Username" [(ngModel)]="username" type="text" />

  <button (click)="register()">Register</button>
  <button (click)="login()">Login</button>
</div>
<div *ngIf="!webAuthAvailable">
  <span>Your Browswer does not support webauth. :-(</span>
</div>

<router-outlet></router-outlet>
